@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
}
.oooo{
    width:100%;
    height:5px;
    background-color:yellow;
}
.heed{
    background-color: #161414;
    display: flex;
    justify-content: space-between;
    height: 120px;
}
.head1{
    padding: 23px;
}
.img1{
    width: 138px;
    height: 77px;
    margin-left:40px;
}
.head2{
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    margin-right:100px ;
    position: relative;
}
.head2 a{
    margin-right:20px;
    text-decoration: none;
    color:#fff;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    margin-right: 30px;
}

.icn1{
     font-size: 1rem;
     margin-right: 5px;
     top:20%;
     margin-top:2px;
}
.icn2{
   background-color: yellow;
   font-size: 1.2rem;
   padding:3px;
   border-radius:0px 250px 250px 0px;
   margin-top:-50px;
   margin-right:20px;
}
.inpp{
    margin-right:20px;
    width:220px;
    height:25px;
    background:transparent;
    border:2px solid rgb(64, 64, 64);
    border-radius:30px;
    position:absolute;
    right:0px;
    bottom:48px;
}
.serr{
    margin-left: 240px;
}
.mini{
 text-align: center;
 padding-top: 80px;;
}
.mini h1{
    color:#fff;
    font-size: 45px;
    letter-spacing:0px;
}
.mini p{
    font-size: 15px;
    color:#c7c1c1;
}
.movv{
    display: grid;
    grid-template-columns: repeat(6,4fr);
    gap: 5px;
    padding-left:80px;
    padding-top: 60px;
    padding-right: 20px;
    width: 100vh;
}
.img2{
    width:200px;
    border-radius: 1px;
    border-radius: 5px;
}
.pp1{
    color:#fff;
    margin-top: 10px;
}
.pp2{
    color:yellow;
    width:35px;
    background-color:hsl(0, 11%, 13%);
    margin-bottom:30px;
    margin-top: -9px;
    font-size: 15px;
}
.movv1{
    margin-right:28px;
}
.texx{
    color:#fff;
    text-align: center;
    background-color: #191616;
    padding: 40px;
    margin-left:80px;
    margin-right: 85px;
    margin-top:50px;
}
.texx h1{
    font-size: 25px;
}
.texx p{
    font-size: 16px;
}
.inp2{
    width:600px;
    border:2px solid rgb(64, 64, 64);
    border-radius:30px;
    background: transparent;
    padding:10px;
    font-size: 17px;
    position: absolute;
    margin-left: 20px;
}
.icn3{
    background-color: yellow;
    font-size: 2.5rem;
    border-radius:0px 250px 250px 0px;
    margin-left:600px;
    margin-top: 2px;
}
.last{
    margin-left: 60px;
    padding:0px;
    display: flex;
    position: relative;
    margin-right: 10px;
}
.h1l{
    color:#fff;
    font-size: 30px;
}
.last i{
    color:yellow;
    font-size: 2rem;
    margin-top: 20px;
    transform: rotate(45deg);
    margin-right:10px;
}
.end{
    display:flex;
    justify-content: space-between;
    background-color: #191616;
    color:rgb(179, 174, 174);
    padding:20px;
    font-size: 16px;
    margin-top: 50px;
}
.edf{
    margin-left:60px;
}
.wer{
    margin-right: 40px;
}